/*Gilroy*/
@font-face {
    font-family: 'Gilroy';
    src: url('/gilroy/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('/gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('/gilroy/Gilroy-Regular.woff2') format('woff2'),
    url('/gilroy/Gilroy-Regular.woff') format('woff'),
    url('/gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/gilroy/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('/gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('/gilroy/Gilroy-Bold.woff2') format('woff2'),
    url('/gilroy/Gilroy-Bold.woff') format('woff'),
    url('/gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('/gilroy/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
    url('/gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('/gilroy/Gilroy-Light.woff2') format('woff2'),
    url('/gilroy/Gilroy-Light.woff') format('woff'),
    url('/gilroy/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/*Georgia*/
@font-face {
    font-family: 'Georgia';
    src: url('/georgia/Georgia.eot');
    src: local('Georgia'),
    url('/georgia/Georgia.eot?#iefix') format('embedded-opentype'),
    url('/georgia/Georgia.woff2') format('woff2'),
    url('/georgia/Georgia.woff') format('woff'),
    url('/georgia/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}